<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Formular</title>
    
		<!-- Styling -->
    	<!-- Bootstrap CSS: Styling & Layout (Buttons, Grid, Forms) -->
    	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">
    
    	<!-- Open Iconic: Icon-Schriftart mit 200+ Symbolen -->
    	<link rel="stylesheet" th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css}">
	</head>
	<body>
		<form action="/processform" method="get">
			<button type="submit">Button</button>
		</form>
    
		<!-- JavaScript -->
    	<!-- jQuery: JavaScript-Grundlage (wird von Bootstrap benötigt) -->
    	<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    
    	<!-- jQuery Mask Plugin: Eingabe-Formatierung (Telefon, Datum, etc.) -->
    	<script th:src="@{/webjars/jquery-mask-plugin/1.14.16/dist/jquery.mask.min.js}"></script>
    
    	<!-- Bootstrap JS: Interaktive Komponenten (Modals, Dropdowns, etc.) -->
    	<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
	</body>
</html>